--index-url https://pypi.tuna.tsinghua.edu.cn/simple
protobuf==3.20.0
transformers==4.30.2
cpm_kernels
torch==2.1.0
gradio==3.48.0
mdtex2html==1.2.0
sentencepiece==0.1.99
accelerate==0.23.0
sse-starlette==1.6.5
streamlit>=1.24.0
rouge_chinese
jieba==0.42.1
datasets==2.13.0
nltk==3.8.1
deepspeed==0.11.1
wandb
sympy==1.12